<form action="." method="post" style="margin-top: 20px">
    {% csrf_token %}
    <div class="field">
        <div class="control">
            <label>
                <input name="name" class="input" type="text" placeholder="Name">
            </label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label>
                <textarea name="body" class="textarea" placeholder="Textarea"></textarea>
            </label>
        </div>
    </div>
    <div class="control">
        <button type="submit" class="button">Add Comment</button>
    </div>
</form>